* {
    padding: 0;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "MuseoSans-700";
    src: url(fonts/Museo700-Regular.otf);
}

@font-face {
    font-family: "MuseoSans-900";
    src: url(fonts/museo-sans-900.woff);
}
body {
    margin: 0;
    padding: 0;
    background-image: url('img/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar-brand {
    margin-top: -1%;
    min-height: fit-content;
}
.navbar-brand img
{
    width: 150px;
}

.navbar {
    margin-left: 10%;
    margin-top: 0%;
}

.navbar-nav.nav-left li {
    float: none;
    list-style: none;   
    border-bottom: 4px solid;
    border-color: transparent;
    padding: 0px 5px;
}

.navbar-nav.nav-left li a {
    color: white;
    text-decoration: none;
    padding: 2px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-style: bold;
    display: inline-block;
    border-bottom: 4px solid;
    border-color: transparent;
}

.navbar-nav li.active a {
    border-bottom: 4px solid #fff;
}

.navbar-nav li a:hover {
    border-bottom: 4px solid #fff;
}

#logincontent
{
    margin-top:-2%;
}

#logincontent button
{
    font-size: 16px;
    color: white;
    border-color: white;
    padding: 15px 25px;
    border-radius: 5px;
    display: inline-block;
    background: none;
    border: transparent;
}


#signup:hover {
    background-color: white;
    cursor: pointer;
    color: blue;
}

#signin:hover
{
    background: rgb(7, 40, 184);
    cursor:pointer;
}

#content h1 {
    color: white;
    float: center;
    font-size: 80px;
    font-family: 'MuseoSans-900';
    margin-top: 4%;
    margin-left: 15.5%;
    position: relative;
}

#content p {
    color: white;
    float: center;
    font-size: 20px;
    font-family: "MuseoSans-700";
    margin-top: 1%;
    margin-left: 15.5%;
}

#content h1 span
{
    width: 880px;
}

#content p span
{
    width: 540px;
}
.create button {
    float: center;
    margin-top: 3%;
    margin-left: 15.3%;
    border-radius: 19px;
    padding: 20px 50px 20px 50px;
    background-color: rgb(238, 101, 101);
    border-color: transparent;
    font-family: "MuseoSans-900";
    font-size: 20px;
    color: white;
}

.create button:hover {
    background-color: rgb(241, 79, 79);
    cursor: pointer;
}

#input {
    border-radius: 5px;
    margin-top: 0%;
    margin-left: 15.5%;
    padding-bottom: 20px;
}

#input input[type="radio"]:checked {
    background-color: #0043ff;
    top: 12.5px;
    height: 20px;
    width: 20px;
    border: 5px solid #f7bb07;
}

#input input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #4677ff;
    color: #4677ff;
    top: 10px;
    height: 15px;
    width: 15px;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 2%;
    outline: none;
}

@media all and (max-width:1200px) {
    .container.jumbotron.text-center {
        margin-left: -2%;
        margin-top: 0%!important;
        max-width: 108px;
    }
    .nav.navbar-nav.nav-left li.active a {
        margin: 0.1em auto;
        border-bottom: auto;
    }
    .nav.navbar-nav.nav-left li a {
        margin: 0.1em auto;
    }
    .iframe-container
    {
        margin-top:5%!important;
        width: 70%;
        height: 30%!important;
        margin-left:28%!important;
      }
      .iframe-container iframe
      {
        top:0;
        left: 0%;
        width: 70%;
      } 
      #dropdownMenu
      {
          margin-left:20%;
          margin-top: -5rem!important;
      }
      #dropmenu
      {
          margin-left:19.5%;
          margin-top: -1.3rem;
      }
}

.container.jumbotron.text-center {
    background-color: transparent;
    padding: 5px 5px;
    width: 28%;
    margin-top:2.3%!important;
    margin-top: inherit;
    justify-content: center;
    position: relative;
    min-width: max-content;
}

#modalsignin {
    background-color: blue;
    margin-right: 43%;
}

#signupform
{
    border-radius: 30px;
}
#loginform
{
    border-radius: 100px;
}

#agreement {
    margin-top: -10%;
    margin-left: 5%;
}

#karusele {
    margin-top: -2.5%;
}

.carousel-inner>.carousel-item>img {
    height: 85.8vh;
}

#content h4 {
    color: white;
    float: center;
    font-size: 27px;
    font-family: "MuseoSans-700";
    margin-top: 0%;
    margin-left: 16%;
}
.iframe-container
{
    margin-left:18%;
    margin-top:3%;
}
#mynav
{
    min-width: fit-content;
}

#mytable caption
{
    color: red;
    font-weight: bold;
    font-size: 30px;
}

#mytable
{
    min-width: fit-content;
    width: 65%;
    margin-left:16%;
    opacity: 0.8;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}


.invalid input:required:invalid {
    background: #BE4C54;
  }
  .invalid input:required:valid {
    background: #17D654;
  }

 #dropdownMenu
 {
     background-color: transparent;
     border: none;
     margin-top: -10%;
 }

 #dropdownMenu:hover
 {
     background-color: rgb(33, 88, 240)
 }

 #dropmenu
 {
     background-color: white;
     width: 40px!important;
 }

 .dropdown-item:hover
 {
     cursor: pointer;
 }

 #reportmain h1
 {
     font-size: 70px;
     font-weight: bold;
     font-family: "MuseoSans-900";
     color:white
 }

 #reportmain h1 span
 {
     width: 1000px;
 }

 #reportmain h2 span
 {
    width:650px;
 }

 #reportmain h2
 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: "MuseoSans-700";
 }

 #reportmain
 {
     margin-left: 15%;
 }
 
 #reportmain button
 {
   margin-top: 5%;
   width: 20%;
   height: 7vh;
      border: none;
   color: white;
   font-weight: bold;
 }

 .navbar-nav
 {
     min-width: fit-content;
 }

#content img
{
    min-width: fit-content;
    min-height: fit-content;
}

#listgroup1 
{
    width: fit-content;
    margin-left:20.4%;
    margin-top:-1%;
    padding:0;
    width: 300px;
    border-radius: 20px;
}

#listgroup1 button.active
{
    background-color: palevioletred;
    border-color: palevioletred;
}
#listgroup2
{
    width: fit-content;
    margin-left:40.2%;
    width: 300px;
    margin-top: -25.9%;
    padding: 0;
    border-radius: 20px;
}
#listgroup2 button.active
{
    background-color: skyblue;
    border-color: skyblue;
}
#listgroup3
{
    width: fit-content;
    padding: 0;
    margin-left: 60%;
    margin-top: -25.9%;
    width: 380px;
    border-radius: 20px;
}

#listgroup3 button.active
{
    background-color: steelblue;
    border-color: steelblue;
}

.list-group button:hover{
    cursor: pointer;
}
.list-group button.active
{
    cursor: context-menu;
}

.page-footer
{
    background-color: rgba(26, 12, 87, 0.747);
    height: 366.85px;
    bottom: 0;
    position: relative;
    width: 100%;
}

.page-footer p
{
    color: white;
}

.page-footer a
{
    color: white;
}

.page-footer h5
{
    color: white;
}

.footer-copyright
{
    color:white;
}

#calculator
{
    margin-left:40%;
}

input[type="button"]
{
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin: 2px;
    cursor:pointer;
}

.textview
{
    width:293px;
    height:40px;
    margin:5px;
    font-size:27px;
    padding:5px;
    margin-left: 40.2%;
    text-align: right;
    pointer-events: none;
}

.col-md-3{
   max-width: 100%!important;
}
#sparecontainer{
    width: 100%;
    color: #ffffff;
    font-family: sans-serif;
    letter-spacing: 1px;
}
#spareparts{
    width: 200px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
    display: inline-block;
    position: left;
}
.product-top img{
width: 250px;
height: 200px;
}

#sparerow{
    text-align: center;
    width: 1200px!important;
}

#content img{
    width: 600px;
    height: 500px;
}